<form (ngSubmit)="onCalculate()">
    <div class="input-group">
        <p>
            <label for="initialInvestment">Initial Investment</label>
            <input id="initialInvestment" name="initialInvestment" type="number" [(ngModel)]="initialInvestment">
        </p>
        <p>

            <label for="annualInvestment">Annual Investment</label>
            <input id="annualInvestment" name="annualInvestment" type="number" [(ngModel)]="annualInvestment">
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expectedReturn">Expected Return</label>
            <input id="expectedReturn" name="expectedReturn" type="number" [(ngModel)]="expectedReturn">
        </p>
        <p>
            <label for="duration">Duration</label>
            <input id="duration" name="duration" type="number" [(ngModel)]="duration">
        </p>
    </div>
    <button type="submit">Calculate</button>
</form>